.container {
  width: 100%;
  padding: 1vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: linear-gradient(to top left, #454545, #ffff 60%);
}

.heading {
  font-size: xx-large;
  font-weight: 800;
  font-family: "Lucida Sans";
  margin-top: 3vh;
  margin-bottom: 3vh;
}

.videoContainer {
  margin-bottom: 8vh;
}

.video {
  width: 140vh;
  height: 80vh;
}

.bookContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: max-content;
}

.leftSide {
  display: flex;
  flex-direction: column;
  width: 60%;
  align-items: center;
  justify-content: center;
}

.text {
  width: 100%;
  padding: 1vh 2vh 1vh 3vh;
  line-height: 1.4;
  font-size: large;
  word-wrap: break-word;
  white-space: pre-line;
  font-family: sans-serif;
}

.rightSide {
  display: flex;
  flex-direction: column;
  width: 40%;
  align-items: center;
  justify-content: space-between;
}

.img {
  min-width: 70vh;
  max-width: 70vh;
  min-height: 55vh;
  max-height: 55vh;
  border-radius: 20px;
  border: 4px solid #9cbef7;
}

@media (max-width: 1890px) {
  .leftSide {
    width: 50%;
  }

  .rightSide {
    width: 30%;
  }

  .img {
    min-width: 55vh;
    max-width: 55vh;
    min-height: 45vh;
    max-height: 45vh;
  }

  .bookContainer {
    max-width: 100%;
    justify-content: space-around;
  }

  .video {
    width: 120vh;
    height: 80vh;
  }
}

@media (max-width: 1820px) {
  .img {
    min-width: 100%;
    max-width: 100%;
    min-height: 30%;
    max-height: 30%;
  }

}

@media (max-width: 1620px) {
  .video {
    width: 100vh;
    height: 70vh;
  }
}

@media (max-width: 1370px) {
  .video {
    width: 70vh;
    height: 50vh;
  }

  .img {
    min-width: 100%;
    max-width: 100%;
    min-height: 20%;
    max-height: 20%;
  }
}
@media (max-width: 1000px) {
  .video {
    width: 70vh;
    height: 40vh;
  }

  .img {
    min-width: 100%;
    max-width: 100%;
    min-height: 10%;
    max-height: 10%;
  }
}
@media (max-width: 850px) {
  .video {
    width: 67vh;
    height: 40vh;
  }

  .img {
    min-width: 100%;
    max-width: 100%;
    min-height: 7%;
    max-height: 7%;
  }
}

@media (max-width: 655px) {
  .bookContainer {
    flex-direction: column;
    align-items: center;
  }

  .leftSide {
    width: 100%;
  }

  .rightSide {
    width: 100%;
  }

  .img {
    min-width: 80%;
    max-width: 80%;
    min-height: 7%;
    max-height: 7%;
    margin-bottom: 4%;
  }
}

@media (max-width: 480px) {
  .video {
    width: 45vh;
    height: 40vh;
  }

  .img {
    min-width: 80%;
    max-width: 80%;
    min-height: 40vh;
    max-height: 40vh;
  }
}

@media (max-width: 415px) {
  .video {
    width: 45vh;
    height: 40vh;
  }

  .img {
    min-width: 80%;
    max-width: 80%;
    min-height: 34vh;
    max-height: 34vh;
  }
}

@media (max-width: 357px) {
  .video {
    width: 44vh;
    height: 37vh;
  }

  .img {
    min-width: 80%;
    max-width: 80%;
    min-height: 32vh;
    max-height: 32vh;
  }
}