.container {
  height: 15vh;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  background-color: #ffffff;
  background-image: linear-gradient(315deg, #b03951 0%, #8547bc 70%);
  padding: 2vh;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 7;
}

.heading {
  width: 40%;
  font-size: xx-large;
  font-weight: 700;
  color: white;
}

.categoryList {
  width: 90%;
  margin-left: 20vh;
  margin-right: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.categoryLink {
  font-size: larger;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
}

.categoryLink:hover {
  color: white;
}

.formButton {
  width: 50%;
  height: 9vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  border-radius: 30px;
  border: 2px solid #91a6ff;
  cursor: pointer;
  margin-bottom: 10vh;
}

.circle {
  content: "";
  height: 100%;
  width: 25%;
  border-radius: 40%;
  background-color: #91a6ff;
  cursor: pointer;
}

.buttonRedirect {
  height: 100%;
  border-radius: 20%;
  border: none;
  background-color: inherit;
  font-size: large;
  font-weight: 600;
  cursor: pointer;
}

.logo {
  display: flex;
  width: 30%;
  height: max-content;
}

.logoImg {
  min-width: 90%;
  max-width: 90%;
  min-height: 20vh;
  max-height: 20vh;
}

.formButton:hover {
  background-color: #91a6ff;
  color: white;
  cursor: pointer;
}

.buttonRedirect:hover {
  transform: translateX(-4vh);
  color: white;
  cursor: pointer;
}

.formButton:hover {
  border: 2px solid #91a6ff;
  cursor: pointer;
}

.current {
  color: orange;
}

.burgerMenu {
  display: none;
}

@media(max-width: 1455px) {
  .categoryList {
    margin-left: 10vh;
  }
}

@media(max-width: 1270px) {
  .burgerMenu {
    display: block;
  }

  .categoryList {
    display: none;
  }

  .categoryList {
    margin-left: 3vh;
    margin-right: 3vh;
  }

  .buttonBurg {
    margin-left: 40vh;
    font-size: 50px;
    color: white;
  }

  .burgerList {
    position: absolute;
    top: 15vh;
    right: 0;
    width: 65%;
    background-color: rgba(0, 0, 0, 0.717);
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .container {
    width: 100%;
    display: flex;
    align-items: center;
  }

  .burgerItem {
    margin: 2vh 2vh 3vh 2vh;
  }

  .categoryLink {
    color: white;
  }
}

@media (max-width: 835px) {
  .buttonBurg {
    margin-left: 100%;
  }

  .container {
    width: 100%;
  }

  .formButton {
    width: 70%;
  }

  .heading {
    font-size: x-large;
  }

  .logoImg {
    min-height: 12vh;
    max-height: 12vh;
    min-width: 95%;
    max-width: 95%;
  }
}

@media (max-width: 450px) {
  .formButton {
    width: 85%;
  }

  .logoImg {
    min-height: 15vh;
    max-height: 15vh;
    min-width: 90%;
    max-width: 90%;
  }
  
}

@media(max-width: 380px) {
  .circle {
    border-radius: 50%;
  }
}