.container {
  width: 100%;
  background: linear-gradient(to top left, #454545, #ffff 60%);
  background-size: cover;
  min-height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-around;
}

.somethingText {
  width: 100%;
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.textParag {
  width: 50%;
  font-size: x-large;
  font-weight: 600;
  line-height: 1.1

}

.mainImgBlock {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.img {
  margin-top: 5vh;
  width: 70%;
  height: 85%;
}

.mainText {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  padding: 5vh 7% 5vh 7%;
}

.heading {
  font-size: xx-large;
  font-weight: 800;
  font-family: "Lucida Sans";
}

.text {
  margin-top: 3vh;
  margin-bottom: 5vh;
  line-height: 1.5;
  white-space: pre-line;
}


@media (max-width: 850px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .mainImgBlock {
    width: 100%;
  }

  .mainText {
    width: 90%;
  }
}
